  /* General */

* {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #ddd;
  font-family: "Dejavu Serif", "Times New Roman", serif;
  font-size: 14px;
}
#board, #panel {
  padding-left: 30px;
}
/* all sans font declarations here */
input, select, option, #info-panel span, #lang li, #lang a {
  font-family: "Dejavu Sans", Verdana, sans;
}
.red-text, .too-old, .bad-lang {
  color: #590000;
}
.green-text {
  color: #005900;
}
.italic-text {
  font-style: italic;
}

  /* Headers */

h1 {
  font-size: 200%;
  text-align: center;
  padding: 20px;
}
h4 {
  font-size: 120%;
}

  /* Board */

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;  /* Safari, not tested */
  image-rendering: crisp-edges;
}
canvas, #dom-board {
  border: 1px black solid;
  cursor: crosshair;
}
canvas, #dom-board, .row {
  background-color: #aea;
}
.row {
  margin-top: 1px;
}
.row:last-child {
  margin-bottom: 1px;
}
.cell {
  float: left;
  margin-left: 1px;
}
.cell:last-child {
  margin-right: 1px;
}
.too-old {
  font-size: 140%;
}

  /* Panel */

.panel-group {
  margin: 10px 0 25px;
}
.panel-line {
  margin: 5px 0 5px 10px;
}
input, select {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
input[type="number"], select {
  padding: 2px 2px 2px 3px;
  border: 1px solid #333;
}
input[type="button"] {
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  cursor: pointer;
  background: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100% );
}
input[type="button"]:hover {
  text-decoration: underline;
  background: linear-gradient( rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100% );
}
input:disabled {
  filter: alpha(opacity=40);
  opacity: .4;
  cursor: not-allowed;
}
select {
  width: 200px;
}
option {
  padding: 0 2px 0 3px;
}
#cycle, #one {
  width: 120px;
}
#cycle {
  color: white;
  margin-left: 15px;
  background-color: #005900;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #005900;
  background: linear-gradient( hsl(120, 100%, 17%) 0%, hsl(120, 83%, 16%) 100% );
}
#cycle:hover {
  background: linear-gradient( hsl(120, 83%, 16%) 0%, hsl(120, 100%, 17%) 100% );
}
#cycle[data-state="running"] {
  background: #590000;
  background: linear-gradient( hsl(0, 100%, 17%) 0%, hsl(0, 83%, 16%) 100% );
}
#cycle[data-state="running"]:hover {
  background: linear-gradient( hsl(0, 83%, 16%) 0%, hsl(0, 100%, 17%) 100% );
}
#one {
  margin-left: -5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#flow-control-panel label {
  margin-left: 20px;
}
#delay {
  width: 80px;
}
#pause-after-panel, #change-size-panel {
  margin-left: 15px;
}
#pause-after-panel > label {
  float: left;
}
#pa-generations-label {
  margin-right: 5px;
}
#pa-from label {
  display: block;
}
#change-size {
  width: 35px;
}
#new-game-x, #new-game-y, #pa-generations {
  width: 55px;
}
#new-game-start {
  width: 150px;
}
#engine-dom {
  margin-left: 8px;
}
#tip-panel {
  font-style: italic;
}
#info-panel {
  float: right;
  font-weight: bold;
  width: 440px;
}
#info-panel h4 {
  margin: 10px 0;
}
#info-panel div {
  margin: 5px 5px 5px 10px;
}
#info-panel span {
  font-weight: normal;
}

  /* Footer */

#footer {
  text-align: center;
  font-family: "Droid Sans", Arial, sans;
  font-size: 11px;
  margin-bottom: 15px;
}

 /* Lang Panel */

#lang {
  list-style-type: none;
  position: absolute;
  right: 45px;
  top: 21px;
}
#lang li {
  display: inline;
}
#lang li, #lang a {
  font-size: 120%;
  letter-spacing: 2px;
  padding: 20px 12px;
}
#lang a {
  font-weight: lighter;
}
#lang a:hover {
  background-color: #aea;
}
#lang li:first-child {
  margin: -5px;
}
