  /* General */

* {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #ddd;
  font-family: "Dejavu Serif", "Times New Roman", serif;
  font-size: 14px;
}
#board, #panel {
  margin-left: 30px;
}

  /* Headers */

h1 {
  font-size: 200%;
  text-align: center;
  padding: 20px;
}
h4 {
  font-size: 120%;
}

  /* Board */

canvas, #dom-board {
  border: 1px black solid;
}
canvas, #dom-board, .row {
  background-color: #aea;
}
.row {
  margin-top: 1px;
}
.row:last-child {
  margin-bottom: 1px;
}
.cell {
  float: left;
  margin-left: 1px;
}
.cell:last-child {
  margin-right: 1px;
}

  /* Panel */
.panel-group {
  margin: 10px 0 25px;
}
.panel-line {
  margin: 5px 0 5px 10px;
}
input {
  font-family: "Dejavu Sans", Verdana, sans;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
input[type="text"] {
  padding-left: 3px;
  border: 0;
  border-bottom: 1px solid black;
}
input[type="button"] {
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
}
input[type="button"]:hover {
  text-decoration: underline;
}
input:disabled {
  filter: alpha(opacity=40);
  opacity: .4;
}
#run {
  color: white;
  width: 120px;
  margin-left: 15px;
  background-color: #005900;
}
#run[value="Pause"] {
  background-color: #590000;
}
#flow-control-panel label {
  margin-left: 35px;
}
#delay {
  width: 60px;
}
#new-game-x, #new-game-y {
  width: 45px;
}
#new-game-start {
  width: 150px;
}
#engine-dom {
  margin-left: 8px;
}
#info-panel {
  font-style: italic;
}
#footer {
  text-align: center;
  font-family: "Droid Sans", Arial, sans;
  font-size: 11px;
  margin-bottom: 15px;
}
